<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Unit Test Rules" ToolsVersion="15.0">
	<Include Path="CodeAnalysis.ruleset" Action="Default" />

	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="CA1034" Action="None" /><!-- [NAMING] Identifiers should not contain underscores -->
		<Rule Id="CA1707" Action="None" /><!-- [DESIGN] Nested types should not be visible -->
	</Rules>

	<Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
		<Rule Id="CA2007" Action="Info" /><!-- [RELIABILITY] Consider calling ConfigureAwait on the awaited task -->
	</Rules>

</RuleSet>