<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Unit Test Rules" ToolsVersion="15.0">
	<Include Path="CodeAnalysis.ruleset" Action="Default" />
	
	<Rules AnalyzerId="CSharpGuidelinesAnalyzer" RuleNamespace="CSharpGuidelinesAnalyzer">
		<Rule Id="AV1551" Action="None"/><!-- Call the more overloaded method from other overloads *** Suppress as controller actions often look like overloads but are different HTTP methods *** -->
		<Rule Id="AV1711" Action="None"/><!-- Name members similarly to members of related .NET Framework classes *** Suppress as Delete API actions are caught by this rule *** -->
	</Rules>

	<Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
		<Rule Id="RCS1046" Action="None"/><!-- [NAMING] Asynchronous method name should end with 'Async' *** Suppress as controller actions should not be suffixed *** -->
	</Rules>

	<Rules AnalyzerId="AspNetCoreAnalyzers" RuleNamespace="AspNetCoreAnalyzers">
		<Rule Id="ASP001" Action="Warning" /><!-- Parameter name does not match the name specified by the route parameter. -->
		<Rule Id="ASP002" Action="Warning" /><!-- Route parameter name does not match the method parameter name. -->
		<Rule Id="ASP003" Action="Warning" /><!-- Parameter type does not match the type specified by the name specified by the route parameter. -->
		<Rule Id="ASP004" Action="Warning" /><!-- Route parameter type does not match the method parameter type. -->
		<Rule Id="ASP005" Action="Warning" /><!-- Syntax error in parameter. -->
		<Rule Id="ASP006" Action="Warning" /><!-- Escape constraint regex. -->
		<Rule Id="ASP007" Action="Warning" /><!-- The method has no corresponding parameter. -->
		<Rule Id="ASP008" Action="Warning" /><!-- Invalid route parameter name. -->
		<Rule Id="ASP009" Action="Warning" /><!-- Use kebab-cased urls. -->
		<Rule Id="ASP010" Action="Warning" /><!-- Unexpected character in url. -->
		<Rule Id="ASP011" Action="Warning" /><!-- Route parameter appears more than once. -->
		<Rule Id="ASP012" Action="Warning" /><!-- Don't use [controller]. -->
		<Rule Id="ASP013" Action="Warning" /><!-- Name the controller to match the route. -->
	</Rules>

</RuleSet>