# NOTE: Requires **VS2019 16.3** or later

# AspNetCore Rules
# Description: Ruleset with rule overrides for AspNetCore apps

# Code files
[*.cs]


# Parameter name does not match the name specified by the route parameter.
dotnet_diagnostic.ASP001.severity = warning

# Route parameter name does not match the method parameter name.
dotnet_diagnostic.ASP002.severity = warning

# Parameter type does not match the type specified by the name specified by the route parameter.
dotnet_diagnostic.ASP003.severity = warning

# Route parameter type does not match the method parameter type.
dotnet_diagnostic.ASP004.severity = warning

# Syntax error in parameter.
dotnet_diagnostic.ASP005.severity = warning

# Escape constraint regex.
dotnet_diagnostic.ASP006.severity = warning

# The method has no corresponding parameter.
dotnet_diagnostic.ASP007.severity = warning

# Invalid route parameter name.
dotnet_diagnostic.ASP008.severity = warning

# Use kebab-cased urls.
dotnet_diagnostic.ASP009.severity = warning

# Unexpected character in url.
dotnet_diagnostic.ASP010.severity = warning

# Route parameter appears more than once.
dotnet_diagnostic.ASP011.severity = warning

# Don't use [controller].
dotnet_diagnostic.ASP012.severity = warning

# Name the controller to match the route *** Suggestion rather than Warning as controllers that map to nested routes (which should be encouraged), e.g. '/customers/{id}/addresses', violate this rule ***
dotnet_diagnostic.ASP013.severity = suggestion

# Call the more overloaded method from other overloads *** Suppress as controller actions often look like overloads but are different HTTP methods ***
dotnet_diagnostic.AV1551.severity = none

# Name members similarly to members of related .NET Framework classes *** Suppress as Delete API actions are caught by this rule ***
dotnet_diagnostic.AV1711.severity = none

# [NAMING] Asynchronous method name should end with 'Async' *** Suppress as controller actions should not be suffixed ***
dotnet_diagnostic.RCS1046.severity = none

# [NAMING] Asynchronous method name should be suffixed with 'Async', with an exception for controller actions
dotnet_diagnostic.ACL1005.severity = warning

# Method overload should call another overload
dotnet_diagnostic.ACL1009.severity = warning

# Controller action should have at least one ProducesResponseType attribute when return type is not TypedResults
dotnet_diagnostic.ACL1008.severity = warning

# Controller action should not have ProducesResponseType attribute when return type is TypedResults
dotnet_diagnostic.ACL1015.severity = warning

# Controller action should return TypedResults instead of IActionResult
dotnet_diagnostic.ACL1016.severity = warning

# Disabling ASP.NET "Request Validation" feature is security-sensitive
dotnet_diagnostic.S5753.severity = warning

# Allowing requests with excessive content length is security-sensitive
dotnet_diagnostic.S5693.severity = warning

# ASP.NET HTTP request validation feature should not be disabled
dotnet_diagnostic.S4564.severity = warning

# Dynamic code execution should not be vulnerable to injection attacks
dotnet_diagnostic.S5334.severity = warning

# HTTP request redirections should not be open to forging attacks
dotnet_diagnostic.S5146.severity = warning

# Deserialization should not be vulnerable to injection attacks
dotnet_diagnostic.S5135.severity = warning

# Endpoints should not be vulnerable to reflected cross-site scripting (XSS) attacks
dotnet_diagnostic.S5131.severity = warning

# I/O function calls should not be vulnerable to path injection attacks
dotnet_diagnostic.S2083.severity = warning

# LDAP queries should not be vulnerable to injection attacks
dotnet_diagnostic.S2078.severity = warning

# OS commands should not be vulnerable to command injection attacks
dotnet_diagnostic.S2076.severity = warning

# Server-side requests should not be vulnerable to forging attacks
dotnet_diagnostic.S5144.severity = warning
