# NOTE: Requires **VS2019 16.3** or later

# EntityFrameworkCore Rules
# Description: Ruleset with rule overrides for AspNetCore apps using Entity Framework Core

# Code files
[*.cs]

# Internal EF Core API usage.
dotnet_diagnostic.EF1001.severity = warning