name: $(Year:yy)$(DayOfYear).$(Rev:r)
trigger:
  branches:
    include: [master]
  paths:
    include:
      - 'eslint/config/audacia-eslint-config/*'
pr: { branches: { include: [master] } }
schedules: [ { cron: "0 0 * * *", displayName: Nightly Build, branches: { include: [ master ] } } ]
resources: { repositories: [ { repository: templates, type: git, name: Audacia/Audacia.Build, ref: refs/heads/bug/119781-npm-versioning-fails-in-package-job-template } ] }
pool: { name: Prometheus }

stages:
- stage: Build
  displayName: Build
  jobs:
  - template: src/build/npm/jobs/npm-package.job.yaml@templates
    parameters:
      path: 'eslint/config/audacia-eslint-config'
      test: false

- stage: Release
  displayName: Release
  jobs:
  - template: src/deployment/npm/jobs/npm-package.job.yaml@templates
  condition: and(succeeded(), and(not(eq(variables['Build.Reason'], 'PullRequest')), not(eq(variables['Build.Reason'], 'Schedule'))))
